<!doctype html>
<html lang="en" class="no-js h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- 头部 -->
<div th:include="head :: head"></div>

<body class="h-100">
<!--设置配色-->
<div th:include="head :: setting"></div>
<div class="container-fluid">
    <div class="row">
        <!-- Main Sidebar -->
        <div th:if="${session.user_session.getAuthorityName().equals('Admin')}" th:include="admin_menu :: sidebar"></div>
        <div th:if="${session.user_session.getAuthorityName().equals('Seller')}" th:include="seller_menu :: sidebar"></div>
        <div th:if="${session.user_session.getAuthorityName().equals('Member')}" th:include="menu :: sidebar"></div>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
            <!-- 上方导航栏 -->
            <div th:include="head :: navbar"></div>
            <!-- / .main-navbar -->
            <div class="main-content-container container-fluid px-4">
                <!-- Page Header -->
                <div class="page-header row no-gutters py-4">
                    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                        <span class="text-uppercase page-subtitle">预览</span>
                        <h3 class="page-title">商品表</h3>
                    </div>
                </div>
                <!-- End Page Header -->
                <a href="/products/create" th:href="@{/products/create}">
                    <button type="button" class="mb-2 btn btn-white mr-2">
                        创建产品
                    </button>
                </a>
                <!-- Default Light Table -->
                <div class="row">
                    <div class="col">
                        <div class="card card-small mb-4">
                            <div class="card-header border-bottom">
                                <h6 class="m-0">商品表</h6>
                            </div>
                            <div class="card-body p-0 pb-3 text-center">
                                <table class="table mb-0">
                                    <thead class="bg-light">
                                    <tr>
                                        <th scope="col" class="border-0">序号</th>
                                        <th scope="col" class="border-0">图片</th>
                                        <th scope="col" class="border-0">名称</th>
                                        <th scope="col" class="border-0">价格</th>
                                        <th scope="col" class="border-0">库存</th>
                                        <th scope="col" class="border-0">销量</th>
                                        <th scope="col" class="border-0">月销量</th>
                                        <th scope="col" class="border-0">描述</th>
                                        <th scope="col" class="border-0">商户</th>
                                        <th scope="col" class="border-0">种类</th>
                                        <div th:if="${session.user_session.getAuthorityName().equals('Seller')}">
                                            <th scope="col" class="border-0"> </th>
                                        </div>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="p,iterStat:${products}">
                                        <td th:text="${iterStat.count}"></td>
                                        <td><img th:src="@{${p.images}}" width="200px" height="130px" /></td>
                                        <td th:text="${p.name}"></td>
                                        <td th:text="${p.price}"></td>
                                        <td th:text="${p.inStocks}"></td>
                                        <td th:text="${p.salesVolume}"></td>
                                        <td th:text="${p.salesMonthVolume}"></td>
                                        <td th:text="${p.description}"></td>
                                        <td th:text="${p.merchantName}"></td>
                                        <td th:text="${p.categoryName}"></td>
                                        <div th:if="${session.user_session.getAuthorityName().equals('Seller')}">
                                        <td>
                                            <a th:href="@{'/products/edit/'+${p.id}}">
                                                <button class="mb-2 btn btn-sm btn-outline-danger mr-1" type="button">编辑</button>
                                            </a>
                                            |
                                            <a th:href="@{'/products/delete/'+${p.id}}">
                                                <button class="mb-2 btn btn-sm btn-outline-danger mr-1" type="button">删除</button>
                                            </a>
                                        </td>
                                        </div>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Default Light Table -->
            </div>
            <div th:include="footer :: footer"></div>
        </main>
    </div>
</div>
<div th:include="footer :: js"></div>
</body>
</html>