<!doctype html>
<html lang="en" class="no-js h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- 头部 -->
<div th:include="head :: head"></div>

<body class="h-100">
<!--设置配色-->
<div th:include="head :: setting"></div>
<div class="container-fluid">
    <div class="row">
        <!-- Main Sidebar -->
        <div th:if="${session.user_session.getAuthorityName().equals('Admin')}" th:include="admin_menu :: sidebar"></div>
        <div th:if="${session.user_session.getAuthorityName().equals('Seller')}" th:include="seller_menu :: sidebar"></div>
        <div th:if="${session.user_session.getAuthorityName().equals('Member')}" th:include="menu :: sidebar"></div>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
            <!-- 上方导航栏 -->
            <div th:include="head :: navbar"></div>
            <!-- / .main-navbar -->
            <div class="main-content-container container-fluid px-4">
                <!-- Page Header -->
                <div class="page-header row no-gutters py-4">
                    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                        <span class="text-uppercase page-subtitle">Overview</span>
                        <h3 class="page-title">Data Tables</h3>
                    </div>
                </div>
                <!-- End Page Header -->
                <div th:if="${session.user_session.getAuthorityName().equals('Admin')}">
                <a href="/order/create" th:href="@{/order/create}">
                    <button type="button" class="mb-2 btn btn-white mr-2">
                        创建订单
                    </button>
                </a>
                </div>
                <div th:if="${session.user_session.getAuthorityName().equals('Member')}">
                    <a href="/order/create" th:href="@{/order/create}">
                        <button type="button" class="mb-2 btn btn-white mr-2">
                            创建订单
                        </button>
                    </a>
                </div>
                <!-- Default Light Table -->
                <div class="row">
                    <div class="col">
                        <div class="card card-small mb-4">
                            <div class="card-header border-bottom">
                                <h6 class="m-0">订单列表</h6>
                            </div>
                            <div class="card-body p-0 pb-3 text-center">
                                <table class="table mb-0">
                                    <thead class="bg-light">
                                    <tr>
                                        <th scope="col" class="border-0">订单号</th>
                                        <th scope="col" class="border-0">描述</th>
                                        <th scope="col" class="border-0">订单状态</th>
                                        <th scope="col" class="border-0">配送地址</th>
                                        <th scope="col" class="border-0">商户名称</th>
                                        <th scope="col" class="border-0">会员名称</th>
                                        <th scope="col" class="border-0">联系电话</th>
                                        <th scope="col" class="border-0">合计金额</th>
                                        <th scope="col" class="border-0">配送员名称</th>
                                        <th scope="col" class="border-0">配送员联系电话</th>
                                        <th scope="col" class="border-0"> </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="o,iterStat:${order}">
                                        <td th:text="${iterStat.count}"></td>
                                        <td th:text="${o.description}"></td>

                                        <td th:if="${o.orderState==-1}" th:text="已取消"></td>
                                        <td th:if="${o.orderState==0}" th:text="未支付"></td>
                                        <td th:if="${o.orderState==1}" th:text="已支付"></td>
                                        <td th:if="${o.orderState==2}" th:text="已接单"></td>
                                        <td th:if="${o.orderState==3}" th:text="配送中"></td>
                                        <td th:if="${o.orderState==4}" th:text="已完成"></td>

                                        <td th:text="${o.distributeAddress}"></td>
                                        <td th:text="${o.merchantName}"></td>
                                        <td th:text="${o.memberName}"></td>
                                        <td th:text="${o.memberMobile}"></td>
                                        <td th:text="${o.totalAmount}"></td>
                                        <td th:text="${o.distributerName}"></td>
                                        <td th:text="${o.distributerMobile}"></td>
                                        <td>
                                            <div th:if="${session.user_session.getAuthorityName().equals('Member')}">
                                                <a th:href="@{'/order/over/'+${o.id}}">
                                                    <button class="mb-2 btn btn-sm btn-outline-danger mr-1" type="button">取消订单</button>
                                               </a>
                                                <div th:if="${o.orderState.equals(0)}">
                                                <a th:href="@{'/order/pay/'+${o.id}}">
                                                    <button class="mb-2 btn btn-sm btn-outline-danger mr-1" type="button">支付</button>
                                                </a>
                                                |
                                                </div>
                                                <div th:if="${o.orderState.equals(3)}">
                                                    <a th:href="@{'/order/finised/'+${o.id}}">
                                                        <button class="mb-2 btn btn-sm btn-outline-danger mr-1" type="button">完成</button>
                                                    </a>
                                                    |
                                                </div>
                                            </div>

                                            <div th:if="${session.user_session.getAuthorityName().equals('Seller')}">
                                                <div th:if="${o.orderState.equals(1)}">
                                                <a th:href="@{'/order/acc/'+${o.id}}">
                                                    <button class="mb-2 btn btn-sm btn-outline-danger mr-1" type="button">接单</button>
                                                </a>
                                                |
                                                </div>
                                                <div th:if="${o.orderState.equals(2)}">
                                                    <a th:href="@{'/order/distribute/'+${o.id}}">
                                                        <button class="mb-2 btn btn-sm btn-outline-danger mr-1" type="button">添加配送员</button>
                                                    </a>
                                                    |
                                                </div>
                                            </div>

                                            <div th:if="${not o.orderState.equals(-1)}">
                                            <a th:href="@{'/order/edit/'+${o.id}}">
                                                <button class="mb-2 btn btn-sm btn-outline-danger mr-1" type="button">编辑</button>
                                            </a>
                                            |
                                            <a th:href="@{'/order/delete/'+${o.id}}">
                                                <button class="mb-2 btn btn-sm btn-outline-danger mr-1" type="button">删除</button>
                                            </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Default Light Table -->

                <!-- End Default Dark Table -->
            </div>
            <div th:include="footer :: footer"></div>
        </main>
    </div>
</div>
<div th:include="footer :: js"></div>
</body>
</html>