<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/backend/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/backend/plugins/toast/css/jquery.toast.min.css">
    <link rel="stylesheet" href="/static/backend/css/AdminLTE.css">
    <style>.attachDesc, .attachImg {
        padding-top: 15px;
        padding-bottom: 15px
    }  .form-horizontal .control-label {
        text-align: left
    }</style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 attachImg">
            <img src="${attachment.url!}" style="width: 100%;">
        </div>
        <div class="col-lg-6 attachDesc">
            <div class="box box-solid">
                <div class="box-header with-border"><h3 class="box-title">附件详情</h3></div>
                <form class="form-horizontal">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="attachName" class="col-sm-2 control-label">附件名：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="attachName"
                                       value="${attachment.name!}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="attachType" class="col-sm-2 control-label">附件类型：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="attachType"
                                       value="${attachment.type!}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="attachPath" class="col-sm-2 control-label">附件路径：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="attachPath"
                                       value="${attachment.url!}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="createTime" class="col-sm-2 control-label">上传时间：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="createTime"
                                       value="${attachment.createTime!}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="size" class="col-sm-2 control-label">附件大小：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="size" value="${attachment.size!}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="attachSize"
                                   class="col-sm-2 control-label">图片尺寸：</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="attachSize" value="${attachment.lengthAndWidth!}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button" class="btn btn-danger btn-sm pull-left" onclick="btn_delete()">永久删除</button>
                        <button type="button" class="btn btn-info btn-sm pull-right btn-copy"
                                data-clipboard-text="<#if !attachment.location?? || attachment.location! == 'local_server'>${options.blog_url!}</#if>${attachment.url}">复制链接</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/common/jquery/jquery.min.js"></script>
<script src="/static/backend/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/backend/plugins/toast/js/jquery.toast.min.js"></script>
<script src="/static/backend/plugins/clipboard/clipboard.min.js"></script>
<script src="/static/backend/js/adminlte.min.js"></script>
<script src="/static/backend/plugins/layer/layer.js"></script>
<script src="/static/backend/js/halo.js"></script>
<script>
    var halo = new $.halo();
    function btn_delete() {
        layer.msg('你确定要删除？', {
            time: 0,
            btn: ['永久删除', '取消'],
            yes: function (index) {
                layer.close(index);
                $.get('/attachments/remove', {'attachId': '${attachment.id}'}, function (data) {
                    if (data.code === 1) {
                        halo.showMsgAndParentRedirect(data.msg, 'success', 1000, '/attachments');
                    } else {
                        halo.showMsg(data.msg, 'error', 2000);
                    }}, 'JSON');
            }
        });
    }

    $(document).ready(function () {
        var clipboard = new Clipboard('.btn-copy');
    });
    $('.btn-copy').click(function () {
        halo.showMsg("复制成功！", 'success', 1000);
    })
</script>
</html>
