#postTitle {
    font-weight: 400;
}

.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
    background: none;
}

.CodeMirror-fullscreen, .editor-toolbar.fullscreen {
    z-index: 1030;
}

.CodeMirror, .CodeMirror-scroll {
    min-height: 480px;
}

.editor-preview-active img, .editor-preview-active-side img {
    width: 100%;
}