<!doctype html>
<html lang="en" class="no-js h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- 头部 -->
<div th:include="head :: head"></div>

<body class="h-100">
<!--设置配色-->
<div th:include="head :: setting"></div>
<div class="container-fluid">
    <div class="row">
        <!-- Main Sidebar -->
        <div th:if="${session.user_session.getAuthorityName()=='Admin'}" th:include="admin_menu :: sidebar"></div>
        <div th:if="${session.user_session.getAuthorityName()=='Seller'}" th:include="seller_menu :: sidebar"></div>
        <div th:if="${session.user_session.getAuthorityName()=='Member'}" th:include="menu :: sidebar"></div>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
            <!-- 上方导航栏 -->
            <div th:include="head :: navbar"></div>
            <!-- / .main-navbar -->
            <div class="main-content-container container-fluid px-4">
                <!-- Page Header -->
                <div class="page-header row no-gutters py-4">
                    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                        <span class="text-uppercase page-subtitle">Overview</span>
                        <h3 class="page-title">商家列表</h3>
                    </div>
                </div>
                <!-- End Page Header -->
                <!-- Default Light Table -->
                <div class="row">
                    <div class="col">
                        <div class="card card-small mb-4">
                            <div class="card-header border-bottom">
                                <h6 class="m-0">商家列表</h6>
                            </div>
                            <div class="card-body p-0 pb-3 text-center">
                                <table class="table mb-0">
                                    <thead class="bg-light">
                                    <tr>
                                        <th scope="col" class="border-0">序号</th>
                                        <th scope="col" class="border-0">商户名称</th>
                                        <th scope="col" class="border-0">联系电话</th>
                                        <th scope="col" class="border-0">地址</th>
                                        <th scope="col" class="border-0">营业时间(开始时间）</th>
                                        <th scope="col" class="border-0">营业时间(结束时间)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="p,iterStat:${seller}">
                                        <td th:text="${iterStat.count}"></td>
                                        <td th:text="${p.name}"></td>
                                        <td th:text="${p.mobile}"></td>
                                        <td th:text="${p.address}"></td>
                                        <td th:text="${p.startHours}"></td>
                                        <td th:text="${p.endHours}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Default Light Table -->
            </div>
            <div th:include="footer :: footer"></div>
        </main>
    </div>
</div>
<div th:include="footer :: js"></div>
</body>
</html>