<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MemberMapper">
  <resultMap id="memberMap" type="com.example.demo.entity.Member">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="id_card_front_image" jdbcType="VARCHAR" property="idCardFrontImage" />
    <result column="id_card_back_image" jdbcType="VARCHAR" property="idCardBackImage" />
    <result column="is_valid" jdbcType="BIT" property="isValid" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="been_deleted" jdbcType="BIT" property="beenDeleted" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="wx_info_id" jdbcType="BIGINT" property="wxInfoId" />
  </resultMap>

  <insert id="create" parameterType="com.example.demo.entity.Member">
        insert into member(id, member_name, mobile, name,avatar,id_card_front_image,
        id_card_back_image,is_valid,been_deleted)
        values (#{id}, #{memberName}, #{mobile}, #{name},#{avatar},#{idCardFrontImage},
        #{idCardBackImage},#{isValid},#{beenDeleted})
    </insert>

  <update id="update" parameterType="com.example.demo.entity.Member">
        update member
        <set>
            <if test="u.memberName != null and u.memberName != ''">
                member_name=#{u.memberName},
            </if>
            <if test="u.mobile != null and u.mobile != ''">
                mobile=#{u.mobile},
            </if>
            <if test="u.name != null and u.name != ''">
                name=#{u.name},
            </if>
            <if test="u.avatar != null and u.avatar != ''">
                avatar=#{u.avatar},
            </if>
            <if test="u.idCardFrontImage != null and u.idCardFrontImage != ''">
                id_card_front_image=#{u.idCardFrontImage},
            </if>
            <if test="u.idCardBackImage != null and u.idCardBackImage != ''">
                id_card_back_image=#{u.idCardBackImage},
            </if>
            <if test="u.isValid != null and u.isValid != ''">
                is_valid=#{u.isValid},
            </if>
            <if test="u.beenDeleted != null and u.beenDeleted != ''">
                been_deleted=#{u.beenDeleted},
            </if>
        </set>
        where id = #{u.id}
    </update>

  <delete id="delete" parameterType="Long">
        update member
        set  been_deleted=#{beenDeleted}
        where id = #{id}
    </delete>

  <select id="findAll" resultMap="memberMap">
        select *
        from member
        where been_deleted = true
    </select>

  <select id="findById" resultMap="memberMap" parameterType="Long">
        select *
        from member
        where id = #{id} and been_deleted = true
    </select>

  <select id="findByName" resultMap="memberMap" parameterType="String">
        select *
        from member
        where name = #{name} and been_deleted = true
    </select>
</mapper>