<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MemberMapper">
  <resultMap id="memberMap" type="com.example.demo.entity.Member">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="id_card_front_image" jdbcType="VARCHAR" property="idCardFrontImage" />
    <result column="id_card_back_image" jdbcType="VARCHAR" property="idCardBackImage" />
    <result column="is_valid" jdbcType="BIT" property="isValid" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="been_deleted" jdbcType="BIT" property="beenDeleted" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="wx_info_id" jdbcType="BIGINT" property="wxInfoId" />
  </resultMap>

  <insert id="create" parameterType="com.example.demo.entity.Member">
        insert into member(id, member_name, mobile, name,avatar,id_card_front_image,
        id_card_back_image,is_valid,been_deleted)
        values (#{id}, #{member_name}, #{mobile}, #{name},#{avatar},#{id_card_front_image},
        #{id_card_back_image},#{is_valid},#{been_deleted})
    </insert>

  <update id="update" parameterType="com.example.demo.entity.Member">
        update member
        set member_name=#{u.member_name},
            mobile=#{u.mobile},
            name=#{u.name},
            avatar=#{u.avatar},
            id_card_front_image=#{u.id_card_front_image},
            id_card_back_image=#{u.id_card_back_image},
            is_valid=#{u.is_valid},
            been_deleted=#{u.been_deleted}
        where id = #{u.id}
    </update>

  <delete id="delete" parameterType="Long">
        update member
        set  been_deleted=#{been_deleted}
        where id = #{id}
    </delete>

  <select id="findAll" resultMap="memberMap">
        select *
        from member
        where been_deleted = ture
    </select>

  <select id="findById" resultMap="memberMap" parameterType="Long">
        select *
        from member
        where id = #{id} and been_deleted = ture
    </select>

  <select id="findByName" resultMap="memberMap" parameterType="String">
        select *
        from member
        where name = #{name} and been_deleted = ture
    </select>
</mapper>