<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProductToCategoryMapper">
  <resultMap id="productToCategoryMap" type="com.example.demo.entity.ProductToCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="product_id" jdbcType="BIGINT" property="productId" />

    <id column="category_id" jdbcType="BIGINT" property="categoryId" />
  </resultMap>

  <insert id="create" parameterType="Long">
        insert into product_to_category(product_id,category_id)
        values (#{productId}, #{categoryId})
    </insert>

  <delete id="delete" parameterType="Long">
        delete
        from product_to_category
        where product_id = #{productId} and category_id=#{categoryId}
    </delete>

  <select id="findAllByProductId" resultMap="productToCategoryMap" parameterType="Long">
        select *
        from product_to_category
        where product_id = #{productId}
    </select>

  <select id="findAllByCategoryId" resultMap="productToCategoryMap" parameterType="Long">
        select *
        from product_to_category
        where category_id=#{categoryId}
    </select>
</mapper>