<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProductCategoryMapper">
  <resultMap id="productCategoryMap" type="com.example.demo.entity.ProductCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
    <result column="been_deleted" jdbcType="BIT" property="beenDeleted" />
    <result column="images" jdbcType="LONGVARCHAR" property="images" />
  </resultMap>

  <insert id="create" parameterType="com.example.demo.entity.ProductCategory">
        insert into product_category(id, name, description,state,
        merchant_name,merchant_id,been_deleted,images)
        values (#{id}, #{name},#{description},#{state},
        #{merchantName},#{merchantId},#{beenDeleted},#{images})
    </insert>

  <update id="update" parameterType="com.example.demo.entity.ProductCategory">
        update product_category
        <set>
            <if test="u.name != null and u.name != ''">
                name=#{u.name},
            </if>
            <if test="u.description != null and u.description != ''">
                description=#{u.description},
            </if>
            <if test="u.state != null and u.state != ''">
                state=#{u.state},
            </if>
            <if test="u.merchantName != null and u.merchantName != ''">
                merchant_name=#{u.merchantName},
            </if>
            <if test="u.merchantId != null and u.merchantId != ''">
                merchant_id=#{u.merchantId},
            </if>
            <if test="u.images != null and u.images != ''">
                images=#{u.images}
            </if>
        </set>
        where id = #{u.id}
    </update>

  <delete id="delete" parameterType="Long">
        update product_category
        set  been_deleted= true
        where id = #{id}
    </delete>

  <select id="findAll" resultMap="productCategoryMap">
        select *
        from product_category
        where been_deleted = false
    </select>

  <select id="findById" resultMap="productCategoryMap" parameterType="Long">
        select *
        from product_category
        where id = #{id} and been_deleted = false
    </select>

  <select id="findByName" resultMap="productCategoryMap" parameterType="String">
        select *
        from product_category
        where name = #{name} and been_deleted = false
    </select>

    <!--/*这种方式使用批量插入中间表*/-->
    <insert id="insertToProduct">
        insert into product_to_category
        (category_id,product_id)
        values
        <foreach collection="productIds" item="pId" separator=",">
            (#{categoryId}, #{pId})
        </foreach>
    </insert>

    <select id="findAllByProduct" resultMap="productCategoryMap">
        select *
        from product_category
        where been_deleted= false and id in
        (select category_id from product_to_category
        <if test="productIds.size>0">
            where product_id IN
            /*集合形式传入类别Id*/
            <foreach collection="productIds" item="pId" open="(" separator="," close=")">
                #{pId}
            </foreach>
        </if>)
    </select>
</mapper>