<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <resultMap id="result" type="com.example.demo.entity.User">
        <result property="userName" column="userName" />
        <result property="password" column="password" />
        <result property="authority" column="authority"/>
    </resultMap>

    <select id="listUser" resultMap="result">
        SELECT * FROM user
    </select>

    <select id="findUserByName" resultMap="result">
        SELECT * FROM user where name=#{userName}
    </select>

    <!-- 根据id获取用户信息 -->
    <select id="selectById" resultType="user" parameterType="long">
        SELECT * FROM user WHERE id=#{id}
    </select>

    <insert id="insertUser" parameterType="com.example.demo.entity.User"
            keyProperty="id" useGeneratedKeys="true">
        INSERT INTO user(id,userName,password,authority) VALUES (#{id},#{userName},#{password},#{authority})
    </insert>

    <delete id="delete" parameterType="long">
        delete from user where id=#{id}
    </delete>

    <!-- 修改用户信息 -->
    <update id="update" parameterType="com.example.demo.entity.User">
        UPDATE user SET user.password=#{password} user.authority=#{authority} WHERE user.id=#{id}
    </update>

</mapper>